In [14]:
import pandas as pd

In [19]:
city = pd.read_csv('villes_france.csv', names=['ville_id', 'ville_departement', 'ville_slug', 'ville_nom', 'ville_nom_simple', 'ville_nom_reel', 'ville_nom_soundex', 'ville_nom_metaphone', 'ville_code_postal', 'ville_commune', 'ville_code_commune', 'ville_arrondissement', 'ville_canton', 'ville_amdi', 'ville_population_2010', 'ville_population_1999', 'ville_population_2012', 'ville_densite_2010', 'ville_surface', 'ville_longitude_de', 'ville_latitude_deg', 'ville_longitude_grd', 'ville_latitude_grd', 'ville_longitude_dms', 'ville_latitude_dms', 'ville_zmin', 'ville_zmax'], header=None)
city

,ville_id,ville_departement,ville_slug,ville_nom,ville_nom_simple,ville_nom_reel,ville_nom_soundex,ville_nom_metaphone,ville_code_postal,ville_commune,...,ville_densite_2010,ville_surface,ville_longitude_de,ville_latitude_deg,ville_longitude_grd,ville_latitude_grd,ville_longitude_dms,ville_latitude_dms,ville_zmin,ville_zmax
0,1,1,ozan,OZAN,ozan,Ozan,O250,OSN,01190,284,...,93,6.60,4.91667,46.38330,2866.0,51546.0,45456.0,462330.0,170.0,205.0
1,2,1,cormoranche-sur-saone,CORMORANCHE-SUR-SAONE,cormoranche sur saone,Cormoranche-sur-Saône,C65652625,KRMRNXSRSN,01290,123,...,107,9.85,4.83333,46.23330,2772.0,51379.0,44953.0,461427.0,168.0,211.0
2,3,1,plagne-01,PLAGNE,plagne,Plagne,P425,PLKN,01130,298,...,20,6.20,5.73333,46.18330,3769.0,51324.0,54342.0,461131.0,560.0,922.0
3,4,1,tossiat,TOSSIAT,tossiat,Tossiat,T230,TST,01250,422,...,138,10.17,5.31667,46.13330,3309.0,51268.0,51854.0,460828.0,244.0,501.0
4,5,1,pouillat,POUILLAT,pouillat,Pouillat,P430,PLT,01250,309,...,14,6.23,5.43333,46.33330,3435.0,51475.0,52542.0,461938.0,333.0,770.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36695,36825,976,sada,SADA,sada,Sada,S300,ST,97640,616,...,933,10.92,45.10470,-12.84860,NaN,NaN,NaN,NaN,NaN,NaN
36696,36826,976,tsingoni,TSINGONI,tsingoni,Tsingoni,T2525,TSNKN,97680,617,...,300,34.76,45.10700,-12.78970,NaN,NaN,NaN,NaN,NaN,NaN
36697,36827,971,st-barthelemy,SAINT BARTHELEMY,st barthelemy,Saint-Barthélemy,S5316345,SNTPR0LM,97133,123,...,372,24.00,-62.83330,17.91670,NaN,NaN,NaN,NaN,NaN,NaN
36698,36828,971,st-martin,SAINT MARTIN,st martin,Saint-Martin,S535635,SNTMRTN,97150,127,...,695,53.20,18.09130,-63.08290,NaN,NaN,NaN,NaN,NaN,NaN
36699,36830,975,st-pierre-et-miquelon,SAINT PIERRE ET MIQUELON,st pierre et miquelon,Saint-Pierre-et-Miquelon,S531635245,SNTPR,97500,501,...,25,242.00,46.71070,1.71819,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
sorted = city.sort_values('ville_population_2012', ascending=False)
sorted

,ville_id,ville_departement,ville_slug,ville_nom,ville_nom_simple,ville_nom_reel,ville_nom_soundex,ville_nom_metaphone,ville_code_postal,ville_commune,...,ville_densite_2010,ville_surface,ville_longitude_de,ville_latitude_deg,ville_longitude_grd,ville_latitude_grd,ville_longitude_dms,ville_latitude_dms,ville_zmin,ville_zmax
30437,30438,75,paris,PARIS,paris,Paris,P620,PRS,75001-75002-75003-75004-75005-75006-75007-7500...,56,...,21288,105.40,2.344450,48.8600,9.0,54289.0,22040.0,485136.0,0.0,0.0
4439,4440,13,marseille,MARSEILLE,marseille,Marseille,M624,MRSL,13001-13002-13003-13004-13005-13006-13007-1300...,55,...,3535,240.62,5.376390,43.2967,3377.0,48107.0,52235.0,431748.0,0.0,640.0
28152,28153,69,lyon,LYON,lyon,Lyon,L500,LYN,69001-69002-69003-69004-69005-69006-69007-6900...,123,...,10117,47.87,4.841390,45.7589,2783.0,50843.0,45029.0,454532.0,162.0,312.0
11718,11719,31,toulouse,TOULOUSE,toulouse,Toulouse,T420,TLS,31000-31100-31200-31300-31400-31500,555,...,3734,118.30,1.433330,43.6000,-994.0,48449.0,12631.0,433616.0,115.0,263.0
2049,2050,6,nice,NICE,nice,Nice,N200,NS,06000-06100-06200-06300,88,...,4773,71.92,7.250000,43.7000,5480.0,48558.0,71606.0,434207.0,0.0,520.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3900,3901,11,pomy,POMY,pomy,Pomy,P500,PM,11300,294,...,9,6.00,2.050000,43.0500,-301.0,47844.0,20355.0,430333.0,297.0,560.0
3897,3898,11,bourigeole,BOURIGEOLE,bourigeole,Bourigeole,B624,BRJL,11300,46,...,5,9.08,2.133330,42.9833,-225.0,47765.0,20801.0,425917.0,315.0,711.0
7028,7029,21,chaudenay-la-ville,CHAUDENAY-LA-VILLE,chaudenay la ville,Chaudenay-la-Ville,C35414,XTNLFL,21360,155,...,7,5.18,4.650000,47.1667,2570.0,52404.0,43859.0,470950.0,365.0,551.0
650,651,2,tannieres,TANNIERES,tannieres,Tannières,T562,TNRS,02220,735,...,5,2.55,3.550000,49.2833,1351.0,54768.0,33309.0,491727.0,64.0,141.0
3088,3089,9,villeneuve-09,VILLENEUVE,villeneuve,Villeneuve,V451,FLNF,09800,335,...,8,5.00,0.981666,42.9383,-1505.0,47709.0,5854.0,425618.0,546.0,1129.0