In [1]:
import pandas as pd
import numpy as np

In [ ]:
import csv

In [33]:
city=pd.read_csv('villes_france.csv', names=['ville_id', 'ville_departement', 'ville_slug', 'ville_nom', 'ville_nom_simple', 'ville_nom_reel', 'ville_nom_soundex', 'ville_nom_metaphone', 'ville_code_postal', 'ville_commune', 'ville_code_commune', 'ville_arrondissement', 'ville_canton', 'ville_amdi', 'ville_population_2010', 'ville_population_1999', 'ville_population_2012', 'ville_densite_2010', 'ville_surface', 'ville_longitude_de', 'ville_latitude_deg', 'ville_longitude_grd', 'ville_latitude_grd', 'ville_longitude_dms', 'ville_latitude_dms', 'ville_zmin', 'ville_zmax'], header=None)

In [38]:
city

,ville_id,ville_departement,ville_slug,ville_nom,ville_nom_simple,ville_nom_reel,ville_nom_soundex,ville_nom_metaphone,ville_code_postal,ville_commune,...,ville_densite_2010,ville_surface,ville_longitude_de,ville_latitude_deg,ville_longitude_grd,ville_latitude_grd,ville_longitude_dms,ville_latitude_dms,ville_zmin,ville_zmax
0,1,1,ozan,OZAN,ozan,Ozan,O250,OSN,01190,284,...,93,6.60,4.91667,46.38330,2866.0,51546.0,45456.0,462330.0,170.0,205.0
1,2,1,cormoranche-sur-saone,CORMORANCHE-SUR-SAONE,cormoranche sur saone,Cormoranche-sur-Saône,C65652625,KRMRNXSRSN,01290,123,...,107,9.85,4.83333,46.23330,2772.0,51379.0,44953.0,461427.0,168.0,211.0
2,3,1,plagne-01,PLAGNE,plagne,Plagne,P425,PLKN,01130,298,...,20,6.20,5.73333,46.18330,3769.0,51324.0,54342.0,461131.0,560.0,922.0
3,4,1,tossiat,TOSSIAT,tossiat,Tossiat,T230,TST,01250,422,...,138,10.17,5.31667,46.13330,3309.0,51268.0,51854.0,460828.0,244.0,501.0
4,5,1,pouillat,POUILLAT,pouillat,Pouillat,P430,PLT,01250,309,...,14,6.23,5.43333,46.33330,3435.0,51475.0,52542.0,461938.0,333.0,770.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36695,36825,976,sada,SADA,sada,Sada,S300,ST,97640,616,...,933,10.92,45.10470,-12.84860,NaN,NaN,NaN,NaN,NaN,NaN
36696,36826,976,tsingoni,TSINGONI,tsingoni,Tsingoni,T2525,TSNKN,97680,617,...,300,34.76,45.10700,-12.78970,NaN,NaN,NaN,NaN,NaN,NaN
36697,36827,971,st-barthelemy,SAINT BARTHELEMY,st barthelemy,Saint-Barthélemy,S5316345,SNTPR0LM,97133,123,...,372,24.00,-62.83330,17.91670,NaN,NaN,NaN,NaN,NaN,NaN
36698,36828,971,st-martin,SAINT MARTIN,st martin,Saint-Martin,S535635,SNTMRTN,97150,127,...,695,53.20,18.09130,-63.08290,NaN,NaN,NaN,NaN,NaN,NaN
36699,36830,975,st-pierre-et-miquelon,SAINT PIERRE ET MIQUELON,st pierre et miquelon,Saint-Pierre-et-Miquelon,S531635245,SNTPR,97500,501,...,25,242.00,46.71070,1.71819,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
city.sort_values('ville_population_2012')

,ville_id,ville_departement,ville_slug,ville_nom,ville_nom_simple,ville_nom_reel,ville_nom_soundex,ville_nom_metaphone,ville_code_postal,ville_commune,...,ville_densite_2010,ville_surface,ville_longitude_de,ville_latitude_deg,ville_longitude_grd,ville_latitude_grd,ville_longitude_dms,ville_latitude_dms,ville_zmin,ville_zmax
27135,27136,66,casefabre,CASEFABRE,casefabre,Casefabre,C160,KSFBR,66130,40,...,5,6.99,2.61667,42.6167,309.0,47351.0,23653.0,423658.0,236.0,664.0
3223,3224,9,tignac,TIGNAC,tignac,Tignac,T252,TKNK,09110,311,...,5,3.53,1.78333,42.7500,-602.0,47496.0,14742.0,424446.0,720.0,1440.0
20416,20417,54,vennezey,VENNEZEY,vennezey,Vennezey,V520,FNS,54830,561,...,13,3.43,6.46667,48.4500,4591.0,53827.0,62806.0,482640.0,267.0,303.0
36370,36371,2B,erone,ERONE,erone,Érone,E650,ERN,20244,106,...,1,3.89,9.27056,42.3723,7704.0,47080.0,91614.0,422220.0,429.0,982.0
36371,36372,2B,lano,LANO,lano,Lano,L500,LN,20244,137,...,2,8.15,9.24751,42.3828,7679.0,47092.0,91451.0,422258.0,414.0,1335.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2049,2050,6,nice,NICE,nice,Nice,N200,NS,06000-06100-06200-06300,88,...,4773,71.92,7.25000,43.7000,5480.0,48558.0,71606.0,434207.0,0.0,520.0
11718,11719,31,toulouse,TOULOUSE,toulouse,Toulouse,T420,TLS,31000-31100-31200-31300-31400-31500,555,...,3734,118.30,1.43333,43.6000,-994.0,48449.0,12631.0,433616.0,115.0,263.0
28152,28153,69,lyon,LYON,lyon,Lyon,L500,LYN,69001-69002-69003-69004-69005-69006-69007-6900...,123,...,10117,47.87,4.84139,45.7589,2783.0,50843.0,45029.0,454532.0,162.0,312.0
4439,4440,13,marseille,MARSEILLE,marseille,Marseille,M624,MRSL,13001-13002-13003-13004-13005-13006-13007-1300...,55,...,3535,240.62,5.37639,43.2967,3377.0,48107.0,52235.0,431748.0,0.0,640.0
30437,30438,75,paris,PARIS,paris,Paris,P620,PRS,75001-75002-75003-75004-75005-75006-75007-7500...,56,...,21288,105.40,2.34445,48.8600,9.0,54289.0,22040.0,485136.0,0.0,0.0